footer.l-footer
  .l-footer_inner
    .u-center_box
      .l-footer_main
        .l-footer_logo
          img(src="{{ asset('images/logo-bottom.svg') }}", alt='Expo Aptitus', height='35', width='225')
        .l-footer_social-networks
          a.l-footer_icon.l-footer_icon--fb(href="https://www.facebook.com/APTiTUS.empleos", target="_blank")
            +g-icon("g-icon-facebook-circle")
          a.l-footer_icon.l-footer_icon--lk(href="https://pe.linkedin.com/company/aptitus", target="_blank")
            +g-icon("g-icon-linkedin-circle")
          a.l-footer_icon.l-footer_icon--tw(href="https://twitter.com/aptitusempleos", target="_blank")
            +g-icon("g-icon-twitter-circle")
  .u-center_box
    .l-footer_link
      .l-footer_links-list
        .l-footer_item © 2019 APTITUS
        .l-footer_item
          a.l-footer_link-enlace(href="http://centraldeayuda.aptitus.com/entries/23700755-T%C3%A9rminos-y-Condiciones-Generales-de-Uso", target="_blank") TÉRMINOS DE USO
        .l-footer_item
          a.l-footer_link-enlace(href="http://centraldeayuda.aptitus.com/entries/20930706-Pol%C3%ADticas-de-Privacidad", target="_blank") POLÍTICAS DE PRIVACIDAD
        .l-footer_item
          a.l-footer_link-enlace(href="http://centraldeayuda.aptitus.com/entries/22516300-Pol%C3%ADticas-de-Publicaci%C3%B3n", target="_blank") POLÍTICAS DE PUBLICACIÓN
