mixin gtm-block-header()
  <!-- Google Tag Manager -->
  script(type="text/javascript").
    !function(e,t,a,n,g){e[n]=e[n]||[],e[n].push({"gtm.start":(new Date).getTime(),event:"gtm.js"});var m=t.getElementsByTagName(a)[0],r=t.createElement(a);r.async=!0,r.src="https://www.googletagmanager.com/gtm.js?id=GTM-TL25XT",m.parentNode.insertBefore(r,m)}(window,document,"script","dataLayer");

mixin gtm-block-body()
  noscript
    iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-TL25XT", height="0", width="0", style="display:none;visibility:hidden")
