.b-modal-recover-password{
  background: #fff;
  width: 500px;
  &_form{
    margin: 0 27px 10px;
  }
  &__label {
    line-height: 25px;
  }
  &__input {
    border-radius: 3px;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    width: 100%;
  }
  .g-btn {
    margin-top: 10px;
    width: 100%;
  }
  .is-error {
    .b-modal-recover-password__input {
      background-color: #fcdddd;
      border: 1px solid #fc7d7d;
    }
  }

  @media(max-width: 463px) {
    margin: 40px 10px;
    width: auto;
    .g-btn {
      padding: 0;
    }
  }
}

