#modalRegisterComplete.g-modal.js-modal.b-modal-register
  div.g-modal_title.js-title-modal
    span.g-modal_title_span Crear cuenta
    +g-icon("g-icon-cross")
  form#frmRegisterComplete.b-modal-register_form.js-form-valide(autocomplete="off")
    include modal_register_first_form
    include modal_register_second_form
