#modalRecoverPassword.g-modal.js-modal.b-modal-recover-password
  .g-modal_title
    span.g-modal_title_span 多Olvidaste tu contrase単a?
    +g-icon("g-icon-cross")
  form#frmRecoverPassword.b-modal-recover-password_form.js-form-valide(action='', method="post")
    p
      | Ingresa tu email y te enviaremos una nueva contrase単a. Si te logueaste con Facebook ingresa el email de tu cuenta de Facebook
    fieldset.js-fieldset
      label.b-modal-recover-password__label Ingresa tu email
      input#txtEmailForgot.b-modal-recover-password__input(type="email", name="email", size="50", required)
    button.g-btn.g-btn--blue.js-button
      span.g-btn__label Enviar correo para restablecer contrase単a
      span.g-btn__spinner
