.g-expo-company
  .g-expo-company_box-image
    .b-expo-ended
      .b-expo-ended_inner
        h2.b-expo-ended_title Gracias por participar en la
        .b-expo-ended_wrapper-logo
          img.b-expo-ended_logo(src!="{{ asset('/images/logo-top.svg') }}", width="300")
        .b-expo-ended_search
          p.b-expo-ended_search-message ¡Sigue postulando en Aptitus.com!
          .b-expo-ended_content-slogan
            p.b-expo-ended_search-message.b-expo-ended_search-message__slogan El trabajo que quieres, existe.
          p.b-expo-ended_search-message.b-expo-ended_hide El trabajo que quieres, existe.
          a.g-btn.g-btn--apt_sky_blue(href="https://aptitus.com/buscar-trabajo-en-peru", target="_blank")
            span.g-btn__label Ver Avisos
    img.g-expo-company_image(src!="{{ asset('/images/close-expoaptitus.jpg') }}", alt='ExpoFeria Aptitus')
    img.g-expo-company_image-hide(src!="{{ asset('/images/close-expoaptitus-mobile.jpg') }}", alt='ExpoFeria Aptitus')
.u-center_box
  .b-expo-ended_box-message
    .b-expo-ended_message
      h3.b-expo-ended_message-title
        span.b-expo-ended_message-contact Separa tu stand para el próximo 
        p.b-expo-ended_text
          b  ExpoAptitus
          | . Contáctanos al
          b  (01) 311-6707
          |  - Opción
          b  3
          |  Fonoventas
      h4.b-expo-ended_message-subtitle Horarios: lunes a viernes 8:00 am a 6:00 pm
