#modalSentSuccessful.g-modal.b-modal-send-successful
  .b-modal-send-successful_image
    +g-icon("g-icon-star")
  .b-modal-send-successful_box-message
    .b-modal-send-successful_congratulations ¡Felicitaciones!
    .b-modal-send-successful_confirm Tu cv se envió correctamente

