.b-company-salon{
  margin: 72px auto 100px;
  max-width: 960px;
  &_box-list{
    display: flex;
    flex-wrap: wrap;
  }
  &_items{
    flex-wrap: wrap;
    flex: 0 0 auto;
    height: 243px;
    lost-column: 1/4 4 20px flex;
    margin-bottom: 20px;
  }
  &_description{
    background: #fff;
    box-shadow: 0px 1px 10px rgba(142, 141, 141, 0.2);
    display: block;
    height: 100%;
    position: relative;
    &--gold{
      border-top: 3px solid #ffd15c;
    }
    &--silver{
      border-top: 3px solid #dcdcdc;
    }
    &--bronze{
      border-top: 3px solid #eec9ae;
    }
  }
  &_logo{
    height: 82px;
    margin: 32px 15px 18px 15px;
  }
  &_icon-type{
    position: absolute;
    right: 10px;
    top: 0;
    .g-icon {
      height: 25px;
      width: 25px;
    }
  }
  &_information{
    padding: 10px;
  }
  &_title{
    color: #045584;
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  &_category{
    display: block;
    margin-top: 8px;
    text-align: center;
  }
}
