#modalUpdate.g-modal.b-modal-register.js-modal
  .is-loading.js-loading
  div.g-modal_title.js-title-modal
    span.g-modal_title_span Verificar datos
    +g-icon("g-icon-cross")
  form#frmUpdate.b-modal-register_form.js-form-valide(autocomplete="off")
    include modal_update_first_form
    include modal_update_second_form
