.b-nav-features_box-video-mobile
  iframe.js-video(width="100%" height="100%" src!="{{company.stand.video}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allowscriptaccess="always")